.footer-heading {
  /* footer title */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.35rem;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 20px;
  /* identical to box height */
  color: #ff8400;
}

.footer-para,
.division2 li,
.division2 li a,
.footer-form div,
.footer-form label {
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 172.4%;
  /* or 34px */
  color: #2b2d42;
}
.division2 li a {
  padding: 0 10px;
}
.division2 li a:hover {
  background-color: black;
  color: white;
  opacity: 0.5;
  border-radius: 25px;
}
@media (max-width: 992px) {
  .col-sm-6 {
    width: 50%;
  }
  .LOGO1 {
    display: none;
  }
}
.footer-links {
  text-decoration: none;
}
.bottom-logos {
  width: 20%;
  margin: 20px 15px;
}
.social-links {
  width: 7%;
  margin: 30px 4px;
}
.social-links:hover {
  opacity: 0.59;
}
.LOGO1 {
  width: 40%;
}
.footer-section {
  padding: 34px;
}
.footer-btn {
  margin-top: 12px;
}
.services {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 95px;
}
.services div {
  width: 20%;
  padding: 34px 34px 0 34px;
  font-family: "Montserrat", sans-serif;
  color: #2b2d42;
  border-left: 1px solid rgb(231, 231, 230);
  margin-bottom: 34px;
}
.services img {
  width: 53%;
}
.services p {
  font-weight: normal;
}
.services svg {
  display: block;
  margin-left: auto;
}
.servicesItem1 svg {
  margin-left: 0;
  display: inline;
}

.main4 {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  position: relative;
}
.chap_img {
  position: absolute;
  top: 67px;
  left: 246px;
  padding: 0;
  margin: 0;
}
.chap_text {
  position: absolute;
  left: 499px;
  top: 80.13px;
  color: #2b2d42;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  word-spacing: -0.5%;
}
.firsttline4 {
  position: absolute;
  top: 134.13px;
  left: 499px;
  font-size: 18px;
  word-spacing: -0.7%;
  line-height: 35px;
  color: #2b2d42;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.secondline4 {
  position: absolute;
  color: #2b2d42;
  left: 499px;
  top: 134.13px;
  font-size: 18px;
  line-height: 75px;
  word-spacing: -0.7%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.image6 {
  margin: 0;
  padding: 0;
  display: block;
}
.main6 {
  width: 100%;
  height: 286px;
  background-color: #395fa9;
  margin: 0;
  padding: 0;
  position: relative;
}
.text6 {
  position: absolute;
  top: 50px;
  left: 164px;
  color: white;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 20px;
}
.heart {
  position: absolute;
  left: 960px;
  top: 27px;
}
.button6 {
  width: 342px;
  height: 66px;
  font-size: 16px;
  color: #0047ab;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 1px;
}
/* review sec background -background: linear-gradient(95.15deg, #FFF1E1 0%, #FFFBF7 87.89%, #FFFFFF 99.36%); */
